.display {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  padding-bottom: 80px;
  width: 80%;
  margin: auto;
}

.msgDiv {
  margin: 10px 0;
}

.outgoing {
  display: inline-flex;
  float: right;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #b39ce9 74%);
  border-radius: 20px;
  margin: 2px 5px;
  padding: 10px 20px;
  max-width: 70%;
  word-break: normal;
}
.incoming,
.new {
  display: flex;
  width: fit-content;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #dceafa 0%, #7cafe9 74%);
  margin: 2px 5px;
  max-width: 70%;
  padding: 10px 20px;
  word-break: normal;
}
#err {
  color: red;
  font-weight: bold;
}
.bot {
  font-weight: 700;
  padding: 20px 0;
  color: rgb(4, 23, 87);
}
.user {
  display: flex;
  justify-content: end;
  font-weight: 700;
  margin: 10px 0 0 0;
}
