.main {
  background-color: white;
  height: 80vh;
  margin: none;
  padding-top: 50px;
  overflow-y: auto;
}
.display {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  width: 80%;
  margin: auto;
  list-style: none;
  padding: 20px 0;
}
.empty {
  font-size: x-large;
  text-align: center;
  margin: 20rem 0;
  font-style: italic;
}
.outgoing {
  display: inline-flex;
  float: right;
  background-color: #8abfee;
  border-radius: 20px;
  margin: 2px 5px;
  padding: 10px 20px;
}
.incoming {
  display: flex;
  width: fit-content;
  border-radius: 20px;
  background-color: whitesmoke;
  margin: 2px 5px;
  padding: 10px 20px;
}
#err {
  color: red;
  font-weight: bold;
}
.bot {
  font-weight: 700;
  margin: 10px 0 0 0;
  color: rgb(4, 23, 87);
}
.user {
  display: flex;
  justify-content: end;
  font-weight: 700;
  margin: 10px 0 0 0;
}
